<section>
    <button mat-raised-button color="primary" routerLink="listFlashcards">
        <mat-icon>reorder</mat-icon>
        <span>List of Flashcards</span>
    </button>
</section>

<section>
    <button mat-raised-button color="primary" routerLink="addFlashcards">
        <mat-icon>add</mat-icon>
        <span>Add new Flashcards</span>
    </button>
</section>

<section>
    <button mat-raised-button color="primary" routerLink="editFlashcards">
        <mat-icon>edit</mat-icon>
        <span>Edit Flashcards</span>
    </button>
</section>
<section>
    <button mat-raised-button color="primary" routerLink="removeFlashcards">
        <mat-icon>delete</mat-icon>
        <span>Remove Flashcards</span>
    </button>
</section>
