<section>
    <button mat-raised-button color="primary" routerLink="decklist">
        <mat-icon>reorder</mat-icon>
        <span>List of Decks</span>
    </button>
</section>

<section>
    <button mat-raised-button color="primary" routerLink="flashcardslist">
        <mat-icon>reorder</mat-icon>
        <span>List of Flashcards</span>
    </button>
</section>

<section>
    <button mat-raised-button color="primary" routerLink="NewCardDeck">
        <mat-icon>add</mat-icon>
        <span>Add new Flashcard deck</span>
    </button>
</section>

<section>
    <button mat-raised-button color="primary" routerLink="add-flashcards">
        <mat-icon>add</mat-icon>
        <span>Add new Flashcards</span>
    </button>
</section>