<p>
    <mat-toolbar>
        <span>Edit Flashcards</span>
    </mat-toolbar>
</p>
<div>

    <form class="newCardform" [formGroup]="cardEditForm">
        <mat-form-field class="full-width">
            <mat-label>Id</mat-label>
            <textarea matInput formControlName="Id" placeholder=""></textarea>
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>Question</mat-label>
            <textarea matInput formControlName="Question" placeholder=""></textarea>
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>Answer</mat-label>
            <textarea matInput formControlName="Answer" placeholder=""></textarea>
        </mat-form-field>
    </form>
    <button mat-raised-button color="primary" (click)="formSubmission()">
        <span>Edit Flashcard</span>
    </button>
</div>