<p>
    <mat-toolbar>
        <span>Edit Flashcards</span>
    </mat-toolbar>
</p>
<div>
    <form class="newCardform" [formGroup]="cardEditFormId">
        <mat-form-field class="full-width">
            <mat-label>Deck Name</mat-label>
            <textarea matInput formControlName="deckName" placeholder=""></textarea>
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Id</mat-label>
            <textarea matInput formControlName="Id" placeholder=""></textarea>
        </mat-form-field>
    </form>

    <form class="newCardform" [formGroup]="cardEditForm">
        <mat-form-field class="full-width">
            <mat-label>Question</mat-label>
            <textarea matInput formControlName="Question" placeholder=""></textarea>
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>Answer</mat-label>
            <textarea matInput formControlName="Answer" placeholder=""></textarea>
        </mat-form-field>
    </form>

    <section>
        <button class="editpagebuttons" mat-raised-button color="primary" (click)="formSubmission()">
            <span>Edit Flashcard</span>
        </button>
        <button class="editpagebuttons" mat-raised-button color="warn" (click)="deleteFlashcard()">
            <span>Delete Flashcard</span>
        </button>
    </section>

</div>