div {
    margin: 2%;
    color: white;
}

.newCardform {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.full-width {
    width: 100%;
}

.hidden-deckIdfield{
    width: 0px;
    height: 0px;
}